.image {
    height:650px;
    width:950px;
    cursor: grabbing;
    margin-left: 200px;
    margin-right: auto;

}

.title{
    cursor: crosshair;
    text-align: center;
}


.body{
    cursor: crosshair;
    text-align: center;

}
    
.author{
    cursor: crosshair;
    text-align: center;

}

.created_at{
    cursor: crosshair;
    text-align: center;
}